
@{
    ViewBag.Title = "Halloween";
}
<body id="login">

    <div class="row">
        <div class="col-md-4">

        </div>
        <br />
        <br />
        <br />
        <div class="col-md-4">
            <form id="frm">
                <div class="mb-3">
                    <h2 class="h2_inicio_sesion"> Inicia Sesión</h2>
                    <br />
                    <label for="exampleInputEmail1" class="form-label">User</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" name="user">
                    <div id="emailHelp" class="form-text" hidden="">Ingrese su Usuario.</div>
                </div>
                <br />
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <br />
                <button id="boton_iniciarsesion" type="submit" class="btn btn-primary">Iniciar Sesión</button>

            </form>
            <br />

        </div>


        <div class="col-md-4">


        </div>

    </div>
    @section scripts{
        <script>
    $(document).ready(function () {
        $("#frm").submit(function (e) {
            e.preventDefault();

            url = "@Url.Content("~/Login/Enter")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data)
            {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/Home/index")"
                }
                else {
                    alert(data);
                }


            })
        })

    })
        </script>
    }

</body>