@{
    ViewBag.Title = "Home Page";
}

<script src="https://kit.fontawesome.com/eba496ab1a0.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        $('#icon').click(function () {
            $('ul').toggleClass('show')
        });
    });

</script>
<body>

    <div> </div>
    <br />
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>


                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/imgcarrousel10.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/imgcarrousel9.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/imgcarrousel8.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item">
                            <img src="~/img/imgcarrousel3.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item">
                            <img src="~/img/imgcarrousel11.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item">
                            <img src="~/img/imgcarrousel12.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>



        <!-- Controls -->
        <!--
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        -->
    </div>

    <div class="row_peliculas">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/img/Portada_pelicula1.jpg" alt="...">
                <br />
                <div class="caption">
                    <h3 class="titulo_pelicula">La Maldición de Chucky</h3>
                    <p class="reseña_pelicula">Cuando un misterioso paquete llega a la casa de Nica, se desata una serie de acontecimientos indescifrables que señalan que el temido muñeco Chucky ha regresado.</p>
                    <br />

                    <p><a href="#" class="btn btn-primary" role="button">Ver</a> <a href="#" class="btn btn-default" role="button">Descargar</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/img/Portada_pelicula2.jpg" alt="...">
                <div class="caption">
                    <h3 class="titulo_pelicula">The Purge - La Noche de las Bestias</h3>
                    <p class="reseña_pelicula">En un país asolado por la delincuencia, el Gobierno sanciona un período anual de 12 horas en el cual toda la actividad criminal es legal, hasta el asesinato.</p>
                    <br />
                    <p><a href="#" class="btn btn-primary" role="button">Ver</a> <a href="#" class="btn btn-default" role="button">Descargar</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/img/Portada_pelicula3.jpg" alt="...">
                <div class="caption">
                    <h3 class="titulo_pelicula">Saw Collection</h3>
                    <p class="reseña_pelicula">Saw es una franquicia de medios de suspenso y gore distribuida por Lions Gate Entertainment que cuenta actualmente con nueve películas.</p>
                    <br />
                    <p><a href="#" class="btn btn-primary" role="button">Ver</a> <a href="#" class="btn btn-default" role="button">Descargar</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/img/Portada_pelicula4.jpg" alt="...">
                <br />
                <div class="caption">
                    <h3 class="titulo_pelicula">Annabelle</h3>
                    <p class="reseña_pelicula">John Form encuentra el regalo perfecto para Mia, su esposa embarazada: una preciosa muñeca antigua llamada Annabelle. Una noche, una secta satánica les ataca brutalmente y provocan que un ente maligno se apodere de Annabelle.</p>
                    <br />

                    <p><a href="#" class="btn btn-primary" role="button">Ver</a> <a href="#" class="btn btn-default" role="button">Descargar</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/img/Portada_pelicula5.jpg" alt="...">
                <br />
                <div class="caption">
                    <br />
                    <h3 class="titulo_pelicula">Expediente Warren El Caso Enfield</h3>
                    <p class="reseña_pelicula">Ed y Lorraine Warren, renombrados demonólogos e investigadores de lo paranormal, se enfrentan de nuevo a las fuerzas infernales.</p>
                    <br />
                    <p><a href="#" class="btn btn-primary" role="button">Ver</a> <a href="#" class="btn btn-default" role="button">Descargar</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/img/Portada_pelicula6.jpg" alt="...">
                <br />
                <div class="caption">
                    <br />
                    <h3 class="titulo_pelicula">La Mujer de Negro</h3>
                    <p class="reseña_pelicula">Un abogado, enviudó recientemente y sufre por la pérdida de su esposa cuando es enviado a una aldea remota para poner en orden los asuntos de un excéntrico fallecido.</p>
                    <br />

                    <p><a href="#" class="btn btn-primary" role="button">Ver</a> <a href="#" class="btn btn-default" role="button">Descargar</a></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div></div>

</body>
<br />

<footer>
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Blog</a>
                <a href="#">Demo</a>
                <a href="#">Customers</a>
                <a href="#">Investors</a>
                <a href="#">Terms of Service</a>
            </div>

            <div class="footer-heading footer-2">
                <h2>Contact Us</h2>
                <a href="#">Jobs</a>
                <a href="#">Supports</a>
                <a href="#">Contact</a>
                <a href="#">Sponsorsships</a>
            </div>

            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
            </div>
            <div class="footer-email-form">
                <h2>Know The Following Premieres</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign Up"
                       id="footer-email-btn">
            </div>
        </div>
    </div>

</footer>

