
@{
    ViewBag.Title = "Próximos_Estrenos";
}


<header>
    <div class="Titulo_estrenos">
        <h1> ESTRENOS MÁS ESPERADOS </h1>
        <h2>¡Películas que Pronto Estarán en Nuestra Plataforma!</h2>
    </div>

    <hr />
    <hr />
    <br>

    <div class="botones_estrenos">

        <button class="btn btn-primary">Próximos Estrenos Costa Rica</button>

        <button class="btn btn-success">Próximos Estrenos México</button>

        <button class="btn btn-warning">Próximos Estrenos España</button>

        <button class="btn btn-danger">Próximos Estrenos Estados Unidos</button>


    </div>

</header>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <section class="Background_estreno1">
        <img class="imgestreno1" src="~/img/portada_estreno1.jpg" alt="" />

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-2">

                </div>

                <div class="col-sm-8">

                    <h1 class="tituloestreno1">Winnie-the-Pooh: Blood and Honey </h1>
                    <br />
                    <p class="parrafo_estreno1">Winnie-the-Pooh: Blood and Honey es una próxima película independiente del género slasher, dirigida y escrita por Rhys Frake-Waterfield, prevista para el 15 de febrero de 2023. La película sirve como una adaptación de terror del libro Winnie-the-Pooh de A. A. Milne (1926), y sigue a los personajes antropomórficos Winnie-the-Pooh y Piglet a medida que se convierten en asesinos sedientos de sangre cuando Christopher Robin los abandona para ir a la universidad.</p>

                    <button class="btn btn-warning" id="btnestreno1">Próximamente</button>
                </div>

                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section class="Background_estreno2">
        <img class="imgestreno2" src="~/img/imgprueba.jpg" alt="" />

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-2">

                </div>

                <div class="col-sm-8">

                    <h1 class="tituloestreno2">Saw X </h1>
                    <br />
                    <p class="parrafo_estreno2">A sus 80 años, el actor de Jigsaw volverá con un papel protagónico en Saw X, la próxima entrega de la saga, prevista para el 27 de octubre de 2023, Einstein decía que hay dos cosas infinitas: el universo y la estupidez humana. Queda claro que el pobre murió mucho antes de descubrirse la tercera: la saga Saw. Cada entrega tiene peores números y cifras que la anterior, pero le da igual, no existe nada capaz de tumbarla. Tras las "espectaculares" Saw 3D, Jigsaw y Espiral (el séptimo, octavo y noveno capítulo respectivamente).</p>

                    <button class="btn btn-warning" id="btnestreno2">Próximamente</button>
                </div>

                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section class="Background_estreno3">
        <img class="imgestreno3" src="~/img/portada_estreno3.jpg" alt="" />

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-2">

                </div>

                <div class="col-sm-8">

                    <h1 class="tituloestreno3">The Nun 2 </h1>
                    <br />
                    <p class="parrafo_estreno3">La monja 2 es una futura película estadounidense de terror sobrenatural dirigida por Michael Chaves a partir de un guion de Akela Cooper.​ Es una secuela de La monja, siendo así la novena entrega de la franquicia The Conjuring Universe. La monja 2 tiene su estreno programado en Estados Unidos el 8 de septiembre de 2023 por Warner Bros. Pictures y New Line Cinema.</p>

                    <button class="btn btn-warning" id="btnestreno3">Próximamente</button>
                </div>

                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </section>

</body>
<br>

<footer>
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Blog</a>
                <a href="#">Demo</a>
                <a href="#">Customers</a>
                <a href="#">Investors</a>
                <a href="#">Terms of Service</a>
            </div>

            <div class="footer-heading footer-2">
                <h2>Contact Us</h2>
                <a href="#">Jobs</a>
                <a href="#">Supports</a>
                <a href="#">Contact</a>
                <a href="#">Sponsorsships</a>
            </div>

            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
            </div>
            <div class="footer-email-form">
                <h2>Know The Following Premieres</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign Up"
                       id="footer-email-btn">
            </div>
        </div>
    </div>

</footer>


