
@{
    ViewBag.Title = "About Us";
}
<body>
    <hr />
    <br />
    <br />
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ¿QUIÉNES SOMOS?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>
                        Somos la plataforma encargada de brindarle todo el material de terror a nuestros usuarios en lo que a películas respecta, para que puedan vivir experiencias paranormales desde la pantalla de su casa,
                        estando a un solo click de poder revivir su película de terror o suspenso favorita.
                    </p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿CUANDO SE CREO HALLOWEEN?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Nuestra plataforma Halloween fue creada en el año 2021, siendo apoyada grandemente por nuestros usuarios desde varias partes del mundo.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿QUÉ OFRECE NUESTRA PLATAFORMA?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Ofrece un servicio único, con una gran calidad de imagen que le permite a cada usuario disfrutar al maximo las películas que se encuentran en nuestra amplia cartelera, llena de terror
                    que es lo que las personas buscan cuando se suscriben a nuestra plataforma.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ¿QUÉ PRECIO TIENE LA SUSCRIPCIÓN A NUESTRA PLATAFORMA?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    El precio de la mensualidad a nuestra plataforma tiene un costo de 4000 colones.
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />




    <section class="seccioncards">

        <div class="row">
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/img/imgcard5.jpg" alt="...">
                    <div class="caption">

                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/img/imgcard4.jpg" alt="...">
                    <div class="caption">

                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/img/imgcard2.jpg" alt="...">
                    <div class="caption">

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/img/imgcards6.jpg" alt="...">
                    <div class="caption">

                    </div>
                </div>
            </div>
        </div>

    </section>

</body>

<br />
<br />

<footer>
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Blog</a>
                <a href="#">Demo</a>
                <a href="#">Customers</a>
                <a href="#">Investors</a>
                <a href="#">Terms of Service</a>
            </div>

            <div class="footer-heading footer-2">
                <h2>Contact Us</h2>
                <a href="#">Jobs</a>
                <a href="#">Supports</a>
                <a href="#">Contact</a>
                <a href="#">Sponsorsships</a>
            </div>

            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
            </div>
            <div class="footer-email-form">
                <h2>Know The Following Premieres</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign Up"
                       id="footer-email-btn">
            </div>
        </div>
    </div>

</footer>




